* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  min-width: 320px;
  overflow-x: hidden;
}

.transition {
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}

.container {
  width: 100%;
  height: 100vh;
}

/* MAIN */
.items-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 100%;
  background: #000000;
  color: #a3a3a3;
  font-weight: 500;
}

.sidebar__logo {
  width: 180px;
  padding: 20px;
}

.sidebar__logo__small {
  padding-top: 20px;
  width: 23px;
}

.sidebar__nav ul {
  list-style: none;
}

.sidebar__nav a,
.sidebar__playlist a,
.sidebar__footer a {
  padding-left: 20px;
  color: #a3a3a3;
  text-decoration: none;
}

.sidebar__nav a:hover,
.sidebar__playlist a:hover,
.sidebar__footer a:hover {
  color: #ffffff;
}

.sidebar__nav svg {
  width: 24px;
}

.sidebar__nav__li {
  height: 36px;
}

.sidebar__nav__li span,
.sidebar__playlist span,
.sidebar__footer span {
  padding-left: 10px;
}

.sidebar__nav__li--active a {
  padding-left: 17px;
}

.sidebar__nav__li--active {
  border-left: 3px solid #adff2f;
}

.sidebar__nav__li--active span {
  color: #ffffff;
}

/* PLAYLIST */
.sidebar__playlist h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  color: #ffffff;
  padding: 20px;
}

.sidebar__playlist svg {
  width: 40px;
}

.sidebar__playlist__name {
  min-height: 90px;
  overflow-y: auto;
  flex-grow: 2;
}

.sidebar__playlist__name li {
  list-style: none;
  padding-top: 20px;
}

.sidebar__footer {
  background-color: #000000;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  margin: 20px;
}

.sidebar__footer svg {
  width: 15px;
}

.sidebar__footer a {
  padding-left: 0px;
}

.sidebar__footer--user {
  border-bottom: 0px solid grey;
  margin: 0px 20px;
}

.sidebar__footer--user img {
  width: 30px;
  border-radius: 50%;
}

.sidebar__footer--user span {
  color: #ffffff;
  font-weight: 700;
}

/* CONTENT  */
.content {
  width: calc(100% - 230px);
  height: 100%;
  background-color: #141922;
  overflow-y: scroll;
  padding-left: 30px;
}

/* TOP BAR */
.content__top-bar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 230px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.content__top-bar__btn {
  font-size: .9em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
  margin-right: 30px;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}

.content__top-bar__btn:hover {
  transform: scale(1.1);
}

/* CONTENT NAV */
.content__nav__ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.content__nav__ul li {
  list-style: none;
  padding: 10px 15px;
  text-transform: uppercase;
}

.content__nav__ul a {
  font-size: .9em;
  color: #a3a3a3;
  font-weight: 700;
  text-decoration: none;
}

.content__nav__ul a:hover {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

.content__nav__a {
  display: flex;
  flex-direction: column;
}

.content__nav__a--active::after {
  content: "";
  height: 3px;
  width: 30px;
  margin: auto;
  margin-top: 5px;
  background-color: #adff2f;
}

/* SECTION RECENTLY */
.recently__h2 {
  color: #ffffff;
  font-size: 1.2em;
  padding: 70px 0 10px 0;
}

.recently p {
  color: #878787;
  font-size: 0.9em;
  padding: 20px 0;
}

.recently__box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.contenitore__box {
  padding-right: 20px;
  padding-bottom: 30px;
  width: 100%;
  cursor: pointer;
}

.contenitore__box h3,
.contenitore__box h4 {
  padding-top: 10px;
  text-align: center;
}

.contenitore__box h3 {
  color: #ffffff;
}

.contenitore__box h4 {
  color: #878787;
}

.box {
  position: relative;
  width: 100%;
}

.box img {
  width: 100%;
}

.box--circle  {
  border-radius: 50%;
}
.overlay__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 4em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s ease;
  background: rgba(0, 0, 0, 0.70);
}

.contenitore__box:hover .overlay {
  opacity: 1;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 13%;
}

.footer__left img {
  width: 60px;
  margin: 0 20px;
}

.footer__left__title {
  color: #ffffff;
  text-decoration: none;
}

.footer__left__title--grey {
  color: #878787;
}

.footer__left__icon a {
  font-size: 1.2em;
  padding-left: 10px;
  color: #878787;
  text-decoration: none;
}

.footer__left__icon a:hover {
  color: #ffffff;
}

.footer__center__top a,
.footer__right a {
  font-size: 1.2em;
  padding: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

.footer__right a {
  font-size: 1em;
  padding: 0 5px;
}

.play {
  font-size: 1.8em;
}

.footer__center__top a:hover,
.footer__right a:hover {
  color: #878787;
}

.footer__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
}

.footer__center__top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.footer__center__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  color: #ffffff;
  font-weight: 700;
  padding-top: 12px;
}

.time__bar {
  position: relative;
  width: 90%;
  min-width: 50px;
  height: 3px;
  background-color: #878787;
  border-radius: 3px;
  margin: 5px 20px;
}

.time__bar--active {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
}

.ball {
  position: absolute;
  bottom: -5px;
  left: 30%;
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  display: none;
}

.time__bar:hover .time__bar--active {
  background-color: #adff2f;
}

.time__bar:hover .ball {
  display: block;
}

/* FOOTER RIGHT */
.footer__right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.volume-bar {
  position: relative;
  width: 50%;
  min-width: 50px;
  height: 3px;
  background-color: #878787;
  border-radius: 3px;
  margin: 0 20px 0 5px;
}

.volume-bar--active {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
}

.volume-bar__ball {
  position: absolute;
  bottom: -5px;
  left: 30%;
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  display: none;
}

.volume-bar:hover .volume-bar--active {
  background-color: #adff2f;
}

.volume-bar:hover .volume-bar__ball {
  display: block;
}

::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  background: #a6a6a6;
  border-radius: 40px
}

::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 11px
}

/* MEDIA QUERY */
@media screen and (max-width: 480px) {
  .xxs-display-none {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
  }

  .sidebar__nav__li--active {
    border-left: 0px solid #adff2f;
  }

  .sidebar__nav__li--active a,
  .sidebar__nav__li a {
    padding-left: 0px;
  }

  .sidebar__nav a {
    padding-left: 0px;
  }

  .content__top-bar__btn {
    font-size: .74em;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 20px;
  }

  /* CONTENT  */
  .content {
    width: calc(100% - 50px);
  }

  /* TOP BAR */
  .content__top-bar {
    width: calc(100% - 50px);
  }

  .recently__box {
    flex-wrap: wrap;
  }

  .contenitore__box {
    flex-basis: calc(100% / 1);
  }

  .content__nav__ul li {
    flex-basis: calc(100% / 2);
  }

  .content__nav__a--active::after {
    margin: 5px 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .xs-display-none {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
  }

  .sidebar__nav__li--active {
    border-left: 0px solid #adff2f;
  }

  .sidebar__nav__li--active a,
  .sidebar__nav__li a {
    padding-left: 0px;
  }

  .sidebar__nav a {
    padding-left: 0px;
  }

  /* CONTENT  */
  .content {
    width: calc(100% - 50px);
  }

  /* TOP BAR */
  .content__top-bar {
    width: calc(100% - 50px);
  }

  .recently__box {
    flex-wrap: wrap;
  }

  .contenitore__box {
    flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .md-display-none {
    display: none;
  }

  .recently__box {
    flex-wrap: wrap;
  }

  .contenitore__box {
    flex-basis: calc(100% / 4);
  }
}

@media screen and (min-width: 1024px) {
  .lg-display-none {
    display: none;
  }

  .contenitore__box {
    flex-basis: calc(100% / 6);
  }
}
